<%- include('./partials/head') %>

<!DOCTYPE html>
<html lang="nl">

<body>

  <div class="background-image"></div>

  <main class="card-frame">
    <div class="card">
      <div class="card-inner">
        <!-- FRONT OF THE CARD -->
        <!-- GRID FOR IMAGE AND CONTENT -->
        <div class="card-face--front">
          <!-- GRID ONLY FOR CONTENT -->
          <section class="written-content">
            <h1 class="large-header"> <%- name %> </h1>
            <h1 class="medium-header"> <%- surname %> </h1>
            <h2> web designer / web developer </h2>
            <section class="contact">
              <p> +31 6 39032244 </p>
              <p> alice.afanasieva@gmail.com </p>  
            </section>
          </section>
          <img src="../images/kitty.png" alt="The designer's nickname in an illustration"/>
        </div>
        <!-- BACK OF THE CARD -->
        <div class="card-face--back">
          <p class="small-par"> <%- bio %> </p>
        </div>

      </div>
    </div>    
  </main>

<%- include('./partials/foot') %>
