<%- include('./partials/head') %>

<!DOCTYPE html>
<html lang="nl">

<body>

  <div class="background-image"></div>
    <div class="card">
      <div class="card__inner">
        <!-- FRONT OF THE CARD -->
        <div class="card__face card__face--front">
          <section class="written-content">
            <h1 class="large-header"> <%- name %> </h1>
            <h1 class="medium-header"> <%- surname %> </h1>
            <h2> web designer / web developer </h2>
            <section class="contact">
              <p> +31 6 39032244 </p>
              <p> alice.afanasieva@gmail.com </p>  
            </section>
          </section>
          <img class="kitty" src="../images/kitty.png" alt="The designer's nickname in an illustration"/>
        </div>
        
        <!-- BACK OF THE CARD -->
        <div class="card__face card__face--back">
          <p class="small-par"> <%- bio %> </p>
          <section class="socials-buttons">
            <img src="../images/shuffle.svg" alt="Shuffle">
            <img src="../images/previous.svg" alt="Previous">
            <img src="../images/next.svg" alt="Next">
          </section>
        </div>
      </div>
    </div>    

<%- include('./partials/foot') %>
